<!DOCTYPE html>
<html lang="en" ng-app="calculator" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./Script.js"> </script>
    <title>Calculadora</title>
</head>
<body ng-controller="calc_controller">
    <div id="contenedor">
        <table>
            <tr class="Pantallas">
                <th><button type="text" disabled id="Pantalla1">{{numero1}}</button></th>
                <th><label id = "operador" ng-model="operador">{{operador}}</label></th>
                <th><button type="text" disabled id="Pantalla2">{{numero2}}</button></th>
                <th><label id="icono_resultado"> = </label></th>
                <th><button type="text" disabled id="resultado">{{resultado}}</button></th>
            </tr>

            <tr class="botones">
                <th><button type="text" ng-click="agregarNumero(1)">1</button></th>
                <th><button type="text" ng-click="agregarNumero(2)">2</button></th>
                <th><button type="text" ng-click="agregarNumero(3)">3</button></th>
                <th></th>
                <th><button type="text" ng-click="elegirOperador('+')">+</button></th>                       
            </tr>
            <tr class="botones">
                <th><button type="text" ng-click="agregarNumero(4)">4</button></th>
                <th><button type="text" ng-click="agregarNumero(5)">5</button></th>
                <th><button type="text" ng-click="agregarNumero(6)">6</button></th>
                <th></th>
                <th><button type="text" ng-click="elegirOperador('-')">-</button></th>                       
            </tr>
            <tr class="botones">
                <th><button type="text" ng-click="agregarNumero(7)">7</button></th>
                <th><button type="text" ng-click="agregarNumero(8)">8</button></th>
                <th><button type="text" ng-click="agregarNumero(9)">9</button></th>
                <th></th>
                <th><button type="text" ng-click="elegirOperador('x')">x</button></th>                       
            </tr>
            <tr class="botones">
                <th><button type="text" ng-click="borrarUltimo()">DEL</button></th>
                <th><button type="text" ng-click="agregarNumero(0)">0</button></th>
                <th><button type="text" ng-click="reset()">Reset</button></th>
                <th></th>
                <th><button type="text" ng-click="elegirOperador('/')">/</button></th>                       
            </tr>
            <tr>
                <th>
                    <select id="pantalla_selector" ng-model="selectedOption" ng-change="cambioPantalla(selectedOption)">
                        <option value="p1" ng-click="seleccionarPantalla(1)">Pantalla1</option>
                        <option value="p2" ng-click="seleccionarPantalla(2)">Pantalla2</option>
                    </select>
                </th>
                <th></th>
                <th><button type="text" ng-click="calcular()">=</button></th>
                <th></th>
                <th></th>
            </tr>
        </table>
    </div>
</body>
</html>